.theme {
box-sizing: border-box;
width: 100%;
max-width: 300px;
padding: 20px;
margin: 10px 0px 10px 10px;
display: flex;
flex-direction: column;
align-items: center;
}

.theme img {
  width: 280px;
}
